.antispam {
  display: none
}

.navbar .selected {
  font-weight: bold;
}

.flag {
  min-height: 16px;
  min-width: 27px;
  display: inline-block;
  padding-left: 35px !important;
  background: none no-repeat 4px center;
  background-size: 27px 16px;
}

.flag-de {
  background-image: url('../images/flag_de.svg');
}

.flag-en {
  background-image: url('../images/flag_en.svg');
}

.flag-pt {
  background-image: url('../images/flag_pt.svg');
}

.tag {
  background-color: #EEE;
} 

.subtag {
    
}

.tagrow {
  border: #EEE solid;
  margin-bottom: .4em;
}

.tagrow .row {
  font-size: 1.4em;
  margin: 0;
}